In [1]:
import pandas as pd

In [2]:
df_500 = pd.read_csv('data/500_Cities__Local_Data_for_Better_Health__2019_release_20240416.csv')
df_locations = pd.read_csv('data/locations.csv')

In [4]:
df_500.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,CA,California,Hawthorne,Census Tract,BRFSS,Health Outcomes,0632548-06037602504,Arthritis among adults aged >=18 Years,%,...,15.2,NaN,NaN,4407,"(33.905547923, -118.337332298)",HLTHOUT,ARTHRITIS,632548.0,6.037603e+09,Arthritis
1,2017,CA,California,Hawthorne,City,BRFSS,Unhealthy Behaviors,0632548,Current smoking among adults aged >=18 Years,%,...,15.9,NaN,NaN,84293,"(33.914667701, -118.347667728)",UNHBEH,CSMOKING,632548.0,NaN,Current Smoking
2,2017,CA,California,Hayward,City,BRFSS,Health Outcomes,0633000,Coronary heart disease among adults aged >=18 ...,%,...,4.8,NaN,NaN,144186,"(37.6329591551, -122.077051051)",HLTHOUT,CHD,633000.0,NaN,Coronary Heart Disease
3,2017,CA,California,Hayward,City,BRFSS,Unhealthy Behaviors,0633000,Obesity among adults aged >=18 Years,%,...,24.4,NaN,NaN,144186,"(37.6329591551, -122.077051051)",UNHBEH,OBESITY,633000.0,NaN,Obesity
4,2017,CA,California,Hemet,City,BRFSS,Prevention,0633182,Cholesterol screening among adults aged >=18 Y...,%,...,78.3,NaN,NaN,78657,"(33.7352277311, -116.994605005)",PREVENT,CHOLSCREEN,633182.0,NaN,Cholesterol Screening

In [5]:
df_500["Year"].value_counts()

Year
2017    580087
2016    230016
Name: count, dtype: int64

In [6]:
df_500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810103 entries, 0 to 810102
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Year                        810103 non-null  int64
 1   StateAbbr                   810103 non-null  object
 2   StateDesc                   810103 non-null  object
 3   CityName                    810047 non-null  object
 4   GeographicLevel             810103 non-null  object
 5   DataSource                  810103 non-null  object
 6   Category                    810103 non-null  object
 7   UniqueID                    810103 non-null  object
 8   Measure                     810103 non-null  object
 9   Data_Value_Unit             810103 non-null  object
 10  DataValueTypeID             810103 non-null  object
 11  Data_Value_Type             810103 non-null  object
 12  Data_Value                  787311 non-null  float64
 13  Low_Confidence_Limit        787311 non-null  float64
 14  High_Confidence_Limit       787311 non-null  float64
 15  Data_Value_Footnote_Symbol  22794 non-null   object
 16  Data_Value_Footnote         22794 non-null   object
 17  PopulationCount             810103 non-null  int64
 18  GeoLocation                 810047 non-null  object
 19  CategoryID                  810103 non-null  object
 20  MeasureId                   810103 non-null  object
 21  CityFIPS                    810047 non-null  float64
 22  TractFIPS                   782047 non-null  float64
 23  Short_Question_Text         810103 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 148.3+ MB

In [7]:
df_500.nunique().reset_index().sort_values(0, ascending=False)

                         index      0
7                     UniqueID  28505
18                 GeoLocation  28504
22                   TractFIPS  27648
17             PopulationCount   8050
14       High_Confidence_Limit    955
12                  Data_Value    946
13        Low_Confidence_Limit    937
21                    CityFIPS    500
3                     CityName    474
1                    StateAbbr     52
2                    StateDesc     52
20                   MeasureId     28
23         Short_Question_Text     28
8                      Measure     28
15  Data_Value_Footnote_Symbol      3
16         Data_Value_Footnote      3
19                  CategoryID      3
6                     Category      3
4              GeographicLevel      3
11             Data_Value_Type      2
10             DataValueTypeID      2
0                         Year      2
9              Data_Value_Unit      1
5                   DataSource      1

In [8]:
df_500['Year'].value_counts()

Year
2017    580087
2016    230016
Name: count, dtype: int64

In [10]:
df_500[['UniqueID', 'GeoLocation', 'TractFIPS', 'CityFIPS', 'StateAbbr', 'CityName']]

,UniqueID,GeoLocation,TractFIPS,CityFIPS,StateAbbr,CityName
0,0632548-06037602504,"(33.905547923, -118.337332298)",6.037603e+09,632548.0,CA,Hawthorne
1,0632548,"(33.914667701, -118.347667728)",NaN,632548.0,CA,Hawthorne
2,0633000,"(37.6329591551, -122.077051051)",NaN,633000.0,CA,Hayward
3,0633000,"(37.6329591551, -122.077051051)",NaN,633000.0,CA,Hayward
4,0633182,"(33.7352277311, -116.994605005)",NaN,633182.0,CA,Hemet
...,...,...,...,...,...,...
810098,5548000-55025000202,"(43.0683437287, -89.4935639435)",5.502500e+10,5548000.0,WI,Madison
810099,5370000-53053061900,"(47.2276735186, -122.434170835)",5.305306e+10,5370000.0,WA,Tacoma
810100,5374060-53011041331,"(45.6495869118, -122.552061838)",5.301104e+10,5374060.0,WA,Vancouver
810101,5502375-55087010200,"(44.2675274909, -88.4261164976)",5.508701e+10,5502375.0,WI,Appleton
810102,5370000-53053072310,"(47.2421261808, -122.539866781)",5.305307e+10,5370000.0,WA,Tacoma

In [11]:
df_locations.head()

,Unnamed: 0,uniqueid,stateabbr,cityname,geographiclevel,tractfips,cityfips,statedesc,latitude,longitude
0,6325,0107000,AL,Birmingham,City,NaN,107000.0,Alabama,-86.798817,33.527566
1,40098,0107000-01073000100,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.722832,33.579433
2,2125,0107000-01073000300,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.752434,33.542821
3,20523,0107000-01073000400,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.764047,33.563245
4,1727,0107000-01073000500,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.774913,33.544240

In [13]:
df_locations[df_locations['cityname']=='Birmingham']['tractfips'][1]

1073000100.0

In [14]:
df_500[df_500['CityName']=='Birmingham']

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
1264,2016,AL,Alabama,Birmingham,Census Tract,BRFSS,Prevention,0107000-01073001400,Papanicolaou smear use among adult women aged ...,%,...,88.0,NaN,NaN,2181,"(33.5261497258, -86.835146606)",PREVENT,PAPTEST,107000.0,1.073001e+09,Pap Smear Test
1300,2017,AL,Alabama,Birmingham,Census Tract,BRFSS,Unhealthy Behaviors,0107000-01073010500,Obesity among adults aged >=18 Years,%,...,51.4,NaN,NaN,114,"(33.4363786806, -86.9128923072)",UNHBEH,OBESITY,107000.0,1.073010e+09,Obesity
1341,2017,AL,Alabama,Birmingham,Census Tract,BRFSS,Health Outcomes,0107000-01073011207,Physical health not good for >=14 days among a...,%,...,15.4,NaN,NaN,815,"(33.6718848706, -86.6772510465)",HLTHOUT,PHLTH,107000.0,1.073011e+09,Physical Health
1385,2017,AL,Alabama,Birmingham,Census Tract,BRFSS,Health Outcomes,0107000-01073003700,Arthritis among adults aged >=18 Years,%,...,32.5,NaN,NaN,5063,"(33.4969018589, -86.8907729426)",HLTHOUT,ARTHRITIS,107000.0,1.073004e+09,Arthritis
1414,2017,AL,Alabama,Birmingham,Census Tract,BRFSS,Health Outcomes,0107000-01073000300,Arthritis among adults aged >=18 Years,%,...,31.7,NaN,NaN,2735,"(33.5428208686, -86.752433978)",HLTHOUT,ARTHRITIS,107000.0,1.073000e+09,Arthritis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84744,2017,AL,Alabama,Birmingham,Census Tract,BRFSS,Prevention,0107000-01073005909,Cholesterol screening among adults aged >=18 Y...,%,...,85.9,NaN,NaN,2524,"(33.611811773, -86.7214221514)",PREVENT,CHOLSCREEN,107000.0,1.073006e+09,Cholesterol Screening
84746,2016,AL,Alabama,Birmingham,Census Tract,BRFSS,Prevention,0107000-01073010803,Older adult women aged >=65 Years who are up t...,%,...,42.5,NaN,NaN,514,"(33.5229093892, -86.7102618642)",PREVENT,COREW,107000.0,1.073011e+09,Core preventive services for older women
84747,2017,AL,Alabama,Birmingham,Census Tract,BRFSS,Health Outcomes,0107000-01073002306,Chronic kidney disease among adults aged >=18 ...,%,...,2.7,NaN,NaN,3257,"(33.5213873564, -86.7490031289)",HLTHOUT,KIDNEY,107000.0,1.073002e+09,Chronic Kidney Disease
84755,2017,AL,Alabama,Birmingham,Census Tract,BRFSS,Prevention,0107000-01073002200,Cholesterol screening among adults aged >=18 Y...,%,...,82.5,NaN,NaN,2630,"(33.5521301205, -86.7276759508)",PREVENT,CHOLSCREEN,107000.0,1.073002e+09,Cholesterol Screening
84758,2016,AL,Alabama,Birmingham,Census Tract,BRFSS,Health Outcomes,0107000-01073002400,All teeth lost among adults aged >=65 Years,%,...,37.1,NaN,NaN,3629,"(33.5260748309, -86.7830315488)",HLTHOUT,TEETHLOST,107000.0,1.073002e+09,Teeth Loss